<div class="sidebar__wrapper table_wrapper" data-controller="load-index" data-load-index-url-value=<%= load_taxes_path %>>
  <div class='page-title-section'>
    <h1 class='page-title'>Taxes</h1>
  </div>
  <div class='a__box'>
    <div class='d-flex justify-content-between align-items-center'>
      <input class='col-md-5 form-control string optional' type="text" value='' placeholder='Rechercher une taxe...' id='search-index-input' data-load-index-target="searchIndex" data-action="load-index#load">
      <div class='d-flex'>
        <%= link_to new_tax_path, class: "btn btn-primary d-flex", method: :get do %>
          <%= svg 'icon_add' %>
          <span>Nouvelle taxe</span>
        <% end %>
      </div>
    </div>
  </div>
  <div data-load-index-target="inject">
    <div class="table-div-wrapper">
      <div class="table-div">
        <table class="primary-table scrollable-table sortable-table">
          <thead>
            <tr>
              <th>NOM</th>
              <th>OPTIONS</th>
            </tr>
          </thead>
          <tbody>
            <% 15.times do %>
              <tr>
                <td>
                  <div class="skeleton-text"></div>
                </td>
                <td>
                  <div class="skeleton-text"></div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= turbo_frame_tag :tax_modal, target: '_top' %>