<div data-controller="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog large modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class='modal-header'>
        <h5 class='section-title mb-0'><%= params[:action] == 'edit' ? 'Éditer' : 'Créer' %> une option</h5>
        <button type="button" class="close d-flex align-items-start" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @option, url: url, method: method do |f| %>
          <div class='d-flex align-items-end mb-2'>
            <%= f.input :name,
                  novalidate: true,
                  label: 'Nom',
                  input_html: { novalidate: 'novalidate' },
                  wrapper_html: { class: 'flex-grow-1 mr-5 mb-0' }
                %>
            <%= f.button :button, "Créer", class: "flex-grow-2 btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
