<div data-controller='flashes'>
  <% if notice %>
    <div class="alert alert-success alert-dismissible fade show m-1" role="alert">
      <div class='flash-text'>
        <%= notice %>
      </div>
      <button type="button" class="close flash-close-button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
      <div class='flash-text'>
        <%= alert %>
      </div>
      <button type="button" class="close flash-close-button" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
