<%= simple_form_for @product_option, url: url, method: method do |f| %>
  <%= f.input :product_id,
  as: :hidden,
  wrapper_html: { class: 'mb-0' } %>
  <div class='d-flex mt-2 mb-2'>
    <%= f.input :name,
                label: false,
                required: false,
                placeholder: 'Nom',
                wrapper_html: { class: 'mr-4 mb-0' }
                %>
    <%= f.button :button, params[:action] == 'edit' ? 'Éditer' : 'Créer', class: "btn btn-primary" %>
  </div>
<% end %>
