<%= turbo_stream.replace :recaptchas do %>
  <div class="mt-4" data-controller="load-recaptcha-v2" id='recaptchaV2' data-load-recaptcha-v2-site-key-value=<%= Rails.application.credentials[:recaptcha_V2][:public_key] %>>
  </div>
<% end %>
<%= turbo_stream.update(:flashes, partial: 'shared/flashes', locals: { alert: 'Veuillez cocher le ReCaptcha' }) %>