////////////////////////////////////////
//             BREAKPOINTS            //
////////////////////////////////////////

$breakpoint-xs: 375px;
$breakpoint-sm: 512px;
$breakpoint-max-md: 767px;
$breakpoint-md: 768px;
$breakpoint-lg2: 1023px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;