// Define variables for your color scheme

$colorPrimaryAdrien: #3C415E;
$colorSecondaryAdrien: #AD4022;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

/* NEUTRAL COLORS */
$colorNeutral900:         #1B2459;
$colorNeutral400:         #BFC7ED;
$colorNeutral300:         #DADEF5;
$colorNeutral200:         #f4f6fc;

/* GREYS */
$colorGreyDark:           #565666;
$colorGrey:               #9696a3;
$colorGreyLight:          #c4c4cc;
