.navbar-adrien {
  padding: 10px 24px 10px 24px;
  justify-content: space-between;
  .navbar-toggler {
    margin-right: 24px;
  }
  .navbar-collapse:first-of-type  {
    ul {
      text-align: center;
      margin: revert;
    }
  }

  .navbar-center-block {
    @media (min-width: $breakpoint-md) {
      margin-right: 110px;
    }
  }
}

.navbar-adrien .navbar-collapse {
  flex-grow: 0;
}

.navbar-adrien .navbar-brand img {
  width: 130px;
}

.navbar.header {
  background: white;

  .nav-item {
    font-size: 18px;
    
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    .dropdown-menu {
      border-color: $colorSecondaryAdrien;
      border-width: 1px;

      .dropdown-item {
        color: $colorPrimaryAdrien !important;
      }
    }
  }

  .nav-link {
    color: $colorPrimaryAdrien !important;
    &.active {
      color: $colorSecondaryAdrien !important;
    }
    &:focus {
      outline: none;
    }
  }

  svg {
    width: 28px;
    fill: $colorPrimaryAdrien;
  }
}

.navbar-light .navbar-toggler {
  border-color: $colorPrimaryAdrien;
  &:focus {
    border-color: $colorSecondaryAdrien;
    outline: $colorSecondaryAdrien solid 2px;
    outline-style: auto;
  }
}

.navbar.footer {
  background: $colorPrimaryAdrien;
}