<%= simple_form_for @product_tax, url: url, method: method do |f| %>
  <%= f.input :product_id,
  as: :hidden,
  wrapper_html: { class: 'mb-0' } %>
  <div class='d-flex mt-2 mb-2'>
    <%= f.association :tax,
    label: false,
    label_method: lambda { |t| "#{t.name} - #{t.rate} %" },
    include_blank: false,
    wrapper_html: { class: 'mr-4 mb-0' } %>
    <%= f.button :button, 'Éditer', class: "btn btn-primary" %>
  </div>
<% end %>
